
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Contact">
    <div class="contact-wrapper">
        <h2>Contact</h2>
        <address>
            <p>ul.Fake 25</p>
            <p>32-331 Fake City</p>
        </address>
        <p>+ 48 (000) (111) (22) (33)</p>
        <a href="mailto:fakeEmail@gmail.com">fakeEmail@gmail.com</a>
    </div>
</div>