
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Bg-1">
    <div class="bg-1-content">
        <h2>Zapraszmy do naszej restauracji.</h2>
        <p>Nasza restauracja jest najlepsza w okolicy. Dania są wyśmienite a ceny atrakcyjne.</p>
    </div>
</div>

<div id="Bg-2">
    <div class="offer-card">
        <span data-order="1" class="glyphicon glyphicon-apple"></span>
        <h3>Offer 1</h3>
        <p>Sed ligula tortor, bibendum in vulputate sit amet, scelerisque ut neque. Nunc fringilla ligula velit, id pharetra mauris sodales sed. Praesent lorem eros, convallis efficitur lobortis vel, mollis hendrerit eros.</p>
    </div>
    <div class="offer-card">
        <span data-order="2" class="glyphicon glyphicon-tint"></span>
        <h3>Offer 2</h3>
        <p>Suspendisse euismod non sapien sit amet sagittis. Nullam sollicitudin orci ac rhoncus facilisis.</p>
    </div>
    <div class="offer-card">
        <span data-order="3" class="glyphicon glyphicon-fire"></span>
        <h3>Offer 3</h3>
        <p>Proin feugiat lorem et feugiat pretium. Donec efficitur ex at nulla ultrices, sed aliquam justo congue.</p>
    </div>
    <div class="offer-card">
        <span data-order="4" class="glyphicon glyphicon-calendar"></span>
        <h3>Offer 4</h3>
        <p>Maecenas eget lectus nec sem consectetur accumsan. Aenean tempus, nisi quis viverra maximus, nunc sem egestas urna, sit amet porta mi libero sed augue.</p>
    </div>
</div>

<div id="Bg-3">
    <div class="bg-3-content-1">
        <h2>Description 1</h2>
        <p>Vestibulum dignissim pulvinar augue, vel accumsan leo vulputate vitae.</p>
    </div>
    <div class="bg-3-content-2">
        <h2>Description 2</h2>
        <p>Aliquam erat volutpat. Nullam imperdiet laoreet mauris, et porta metus.</p>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Restaurant/Home.js"></script>
}