
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Bg-4"></div>

@Html.Action("MenuCategoryList", "MenuCategory")

<div id="Loading" class="ajaxLoading">Loading....</div>

<div id="Dishes">
    @Html.Action("DishListPartial", "Dish")
</div>

<div id="Bg-5"></div>

@section scripts{
    <script src="~/Scripts/Restaurant/Menu.js"></script>
}