
@{
    ViewBag.Title = "InternalServerError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error">
    <h2>
        Error 500.
        <br /><br />
        Internal server error.
    </h2>
</div>